<?xml version="1.0" encoding="UTF-8"?>
<log4j:configuration xmlns="http://jakarta.apache.org/log4j/">

    <!-- Root Logger -->
    <root>
        <level value="INFO"/>
        <appender-ref ref="Console"/>
    </root>

    <!-- Console Appender -->
    <appender name="Console" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{ISO8601} [%t] %-5p %c{1}:%L - %m%n"/>
        </layout>
    </appender>

    <!-- File Appender (Optional) -->
    <appender name="File" class="org.apache.log4j.FileAppender">
        <param name="File" value="logs/app.log"/>
        <param name="Append" value="true"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{ISO8601} [%t] %-5p %c{1}:%L - %m%n"/>
        </layout>
    </appender>

</log4j:configuration>